.hero{
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url('../../dist/images/fundo/hero_spider-man.jpg');
    text-align: center;
    background-size: cover;

    @media(max-width: 768px) {
        max-width: 100%;
        background-image: url('../../dist/images/fundo/fundo_celular.jpg');
        background-repeat: no-repeat;
    }

    &__content{
        max-width: 640px;
    }
}

